<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LITHakoidesh.Data.Properties.Settings.LITHakoideshConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=LITHakoidesh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>